*{
	padding: 0;
	margin: 0;
	font-family: serif; Times New Roman;
}

body {
	width:95%;
	margin:auto;
}
header{
	width:80%;
	margin:auto;
	background-color: #323232;
}

h2{
	color:white;
	padding:20px;
}

}
#navbar{
	background-color: black;
}
ul li{
	color:white;
	list-style-type: none;
	display: inline;
	padding: 5px;
}

.maindiv{
	width: 960px;
	margin:auto;
	padding: 20px 0px 20px 0px;
	background-color:  #323232;
	color: white;
	margin-top:20px;
	height:360px;
		display: flex;
	justify-content: center;
	align-items: center;
}


.middlediv{
	width: 960px;
	margin:auto;
	background-color: #eeeeee;
	margin-top:20px;
	margin-bottom: 20px;
}

.text{
	width: 960px;
	margin-top:20px;
	margin:auto;
}
#gallery{
	width: 960px;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 50px;
	margin:auto;
}

.card{
	border: 1px solid black;
	text-align: center;
	background-color: #eeeeee;
}
.gallery{
	color: white;
	width: 215px;
	height: 315px;
	background-color: #323232;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0;
}
